<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6">
                <div class="card text-center">
                    <div class="card-body text-white" style="background-color: #554a47;">

                        <h3 class="card-title mt-3">Order Completed successfully</h3>
                    </div>
                    <div class="card-body">
                        <p class="card-text">You can check all your orders in the order section of your profile</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


