<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6">
                <div class="card text-center">
                    <div class="card-body text-white" style="background-color: #554a47;">
                       
                        <h3 class="card-title mt-3">Success</h3>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Congratulations, your account has been successfully created.</p>
                        <a href="Login" class="btn btn-dark">Continue</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

