@model Country
@{
    ViewData["Title"] = "Add a new Country";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h1 class="text-center">Add new Country</h1>

                    <div class="table-responsive shadow table-striped border">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="form-group text-center">
                                <img class="border-info rounded-circle" style="max-width: 150px" id="LogoPreview" />
                            </div>

                            <div class="form-group m-2">
                                <label asp-for="ProfilePictureURL" class="control-label"></label>
                                <input asp-for="ProfilePictureURL" class="form-control">
                                <span asp-validation-for="ProfilePictureURL" class="text-danger"></span>
                            </div>

                            <div class="form-group m-2">
                                <label asp-for="CountryName" class="control-label"></label>
                                <input asp-for="CountryName" class="form-control">
                                <span asp-validation-for="CountryName" class="text-danger"></span>
                            </div>

                            <div class="form-group m-2">
                                <label asp-for="CountryBio" class="control-label"></label>
                                <input asp-for="CountryBio" class="form-control">
                                <span asp-validation-for="CountryBio" class="text-danger"></span>
                            </div>

                            <div class="form-group m-3">
                                <input type="submit" value="Create" class="btn btn-outline-success float-right" />
                                <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            var output = document.getElementById('LogoPreview')
            output.src = $("#ProfilePictureURL").val();
        })
        $("#ProfilePictureURL").on("change", function () {
            var output = document.getElementById('LogoPreview');
            output.src = $(this).val();
        })
    </script>
}
